.input_root {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-small);
  width: var(--input-width);
}

.input_label {
  color: var(--color-text);
  font-family: var(--font-family);
  font-size: var(--font-size-text);
  font-weight: var(--font-weight-semibold);
}

.input_control {
  background-color: var(--input-background);
  border-radius: var(--border-radius);
  border: var(--input-border);
  color: var(--color-text);
  font-family: var(--font-family);
  padding: var(--spacing-small);
  width: var(--input-width);
}

.input_multiline {
  min-height: 100px;
}

.input_helper,
.input_error {
  color: var(--color-text);
  font-family: var(--font-family);
  font-size: var(--font-size-small);
}

.input_error {
  color: var(--color-error);
}
