.button {
  --button-color: var(--color-primary);
  background-color: var(--button-color);
  border-radius: var(--border-radius);
  border: 0px;
  color: var(--color-white);
  cursor: pointer;
  font-family: var(--font-family);
  font-size: var(--font-size-text);
  font-weight: var(--font-weight-semibold);
  padding: var(--spacing-small);
}

.button:hover {
  filter: brightness(var(--color-darken));
}

.button:active {
  filter: brightness(var(--color-darken-2));
}

.button_outlined {
  background-color: transparent;
  border: 1px solid var(--button-color);
  color: var(--button-color);
}

.button_text {
  background-color: transparent;
  color: var(--button-color);
}
