@font-face {
  font-family: "Domine";
  src: url("/fonts/Domine-VariableFont_wght.ttf") format("truetype");
}

:root,
.light-override {
  /* Color Pallete */
  --color-primary: #54819b;
  --color-secondary: #9ebbe6;
  --color-tertiary: #a54259;
  --color-success: #8eff7d;
  --color-error: #de476a;
  --color-gray: #cfc1c0;
  --color-fullwhite: #ffffff;
  --color-fullblack: #111111;
  --color-white: #f8f5f3;
  --color-black: #0a080a;
  --color-text: var(--color-black);
  --color-fullbackground: var(--color-fullwhite);
  --color-fullforeground: var(--color-fullblack);
  --color-background: var(--color-white);
  --color-foreground: var(--color-black);
  --color-darken: 80%;
  --color-darken-2: 70%;
  --color-lighten: 120%;
  --color-lighten-2: 130%;
  /* Border-Radii (handled by rem) */
  --border-radius: 1rem;
  /* Box-Shadow */
  --shadow-color: rgba(0, 0, 0, 0.25);
  --box-shadow-small: 0px 3px 3px 0px var(--shadow-color);
  --box-shadow-medium: 0px 3px 8px 0px var(--shadow-color);
  /* Spacing (handled by rem) */
  --spacing-small: 1rem;
  --spacing-medium: 2rem;
  --spacing-large: 4rem;
  /* Font Family */
  --font-family: "Domine", Gordita, Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
  /* Font Sizes (handled by rem) */
  font-size: 8px;
  --font-size-mini: 1rem; /* 8px */
  --font-size-small: 1.5rem; /* 12px */
  --font-size-text: 2rem; /* 16px */
  --font-size-header: 3rem; /* 24px */
  --font-size-large: 4rem; /* 32px */
  --font-size-extra-large: 5rem; /* 40px */
  /* Font Weights */
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-semibold: 500;
  --font-weight-bold: 700;
}

/* Dark Theme */
@media (prefers-color-scheme: dark) {
  :root,
  .dark-override {
    --color-background: var(--color-black);
    --color-foreground: var(--color-white);
    --color-fullbackground: var(--color-fullblack);
    --color-fullforeground: var(--color-fullwhite);
    --color-gray: #625a59;
    --color-text: var(--color-white);
    --color-darken: 120%;
    --color-darken-2: 130%;
    --color-lighten: 80%;
    --color-lighten-2: 70%;
    --shadow-color: rgba(0, 0, 0, 0.75);
  }
}

/* Some CSS Reset */
html,
body {
  background-color: var(--color-background);
  margin: 0px;
  padding: 0px;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size-text);
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}
